{% extends 'base.html' %}
{% block title %} Modiffier Notes de {{note.matiere.matiere.nom}} de l'élève {{note.eleve.nom}} {{note.eleve.prenom}} {% endblock %}

{% block content %}

    <style>
        .error {
            color: #dc3545;
        }

        .success {
            color: #28a745;
        }
    </style>


    <div class="container">
        <div class="card card-register mx-auto mt-5">

            <div class="card-header">Modiffier Notes de {{note.matiere.matiere.nom}} de l'élève {{note.eleve.nom}} {{note.eleve.prenom}} de la classe de {{note.matiere.classe.nom}} </div>
            <div class="card-body">


                <form method="post" role="form" enctype="multipart/form-data">{% csrf_token %}


                    {{ form.as_p }}




                    <button type="submit" class="btn btn-primary btn-block">Modiffier</button>

                </form>


                <div class="text-center">

                    <a class="d-block small mt-3" href="{% url 'home_page' %}"> Page d'accueil</a>

                </div>
            </div>
        </div>
    </div>


{% endblock %}
