{% extends 'base.html' %}

{% load static %}

{% block content %}


    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'home_page' %}">Dashboard</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{% url 'matiere_index' %}">Liste des matieres</a>
        </li>
        <li class="breadcrumb-item active">Detail de {{matiere.matiere.nom}}</li>
    </ol>



    <div class="row">
        <div class="col">
            <h3 class="text-center">Information de {{matiere.matiere.nom}}</h3>
            <ul class="list-group">
                <li class="list-group-item"><strong>Matricule : </strong> {{matiere.id }}</li>

                <li class="list-group-item"><strong>Nom </strong>
                    : {{ matiere.matiere.nom.capitalize }}
                </li>
                 <li class="list-group-item"><strong>Enseignant: </strong>
                    : {{ matiere.enseignant.nom.upper }} {{ matiere.enseignant.prenom.capitalize }}
                </li>
                <li class="list-group-item"><strong>Coeficient : </strong> {{matiere.coef }}</li>
                <li class="list-group-item"><strong>Classe: </strong>{{matiere.classe.nom }}
                   </li>

                <a target="_blank" class="list-group-item list-group-item-action active text-center"
                   href="{% url 'matiere_show' pk=matiere.id %}"><span>Liste des elèves</span></a>
            </ul>
        </div>



    </div>






{% endblock %}
