                    <tr>
                        <th text-align="center">Absences (heures)</th>
                        <td  text-align="center"></td>
                    </tr>
                     <tr>

                        <th text-align="center">Retards (heures)</th>
                        <td  text-align="center"></td>

                    </tr>
                     <tr>

                        <th text-align="center">Avestissements</th>
                        <td  text-align="center"></td>

                    </tr>
                    <tr>

                        <th text-align="center">Blâme</th>
                        <td  text-align="center"></td>

                    </tr>
