
                    {% if eleve.moy1 %}
                    <tr>
                        <th colspan="4" text-align="center">Moy 1er Trim</th>
                        <td colspan="3" text-align="center">{{ eleve.moy1}}</td>
                    </tr>
                    {% endif %}
                     {% if eleve.moy2 %}
                    <tr>
                        <th colspan="4" text-align="center">Moy 2èTrim</th>
                        <td colspan="3" text-align="center">{{ eleve.moy2}}</td>
                    </tr>
                    {% endif %}
                     {% if eleve.moy3 %}
                    <tr>
                        <th colspan="4" text-align="center">Moy 3è Trim</th>
                        <td colspan="3" text-align="center">{{ eleve.moy3}}</td>
                    </tr>
                    {% endif %}