 <tr>




                        <th colspan="2">Intitulé de la Matière</th>
                    <th colspan="2">Notes de classe</th>
                        <th>Moy cl</th>
                           <th>Compo</th>
                        <th>Moy</th>
                        <th>Coef</th>
                         <th> Note déf</th>
                          <th> Rang</th>
                            <th> Observation</th>
                        <th colspan="2"> Noms et Signatures des profs</th>

